# data-hub:

*   Website:           Data-Hub.ir
*   Youtube: [click here](https://www.youtube.com/channel/UCrBcbQWcD0ortWqHAlP94ug)
*   Github: github.com/datahub-ir
   Telegram Channel: @**data_hub_ir*
*   Telegram Group:    @data_jobs

___________

# Import the required libraries and modules

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
import time

# Setup and Start

In [19]:
start_time = time.time()
url = 'https://www.yelp.com/'
s = Service('chromedriver_win32/chromedriver.exe') # The path to your driver

driver = webdriver.Chrome(service = s)
driver.get(url)
time.sleep(3)

# Search about Restaurants

In [20]:
find_section = driver.find_element(By.ID, value = 'find_desc')
find_section.click()
find_section.send_keys('Restaurants')

In [21]:
search_button = driver.find_element(By.ID, value = 'header-search-submit')
search_button.click()
time.sleep(3)

In [22]:
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.ID, "onetrust-accept-btn-handler"))).click()

# Find Data

In [25]:
data = []

while True:
    try:
        all_items = driver.find_elements(By.XPATH, value = "//div[@class=' container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY']")
        for item in all_items:
            try:
                name = item.find_element(By.XPATH, value = ".//a[@class='css-1422juy']").text
            except:
                name = 'Unknown'

            try:
                location = item.find_element(By.XPATH, value = ".//span[@class=' css-1e4fdj9']").text
            except:
                location = 'Unknown'

            try:
                review_counts = item.find_element(By.XPATH, value = ".//span[@class='reviewCount__09f24__tnBk4 css-1e4fdj9']").text
            except:
                review_counts = -1

            try:
                stars = item.find_element(By.XPATH, value = ".//span[@class=' display--inline__09f24__c6N_k border-color--default__09f24__NPAKY']/div[@role='img']")
                stars_number = stars.get_attribute('aria-label').split(' ')[0]
            except:
                stars_number = -1

            data.append([name, location, int(review_counts), float(stars_number)])
        
        next_page = driver.find_element(By.XPATH, value = "//a[@class='next-link navigation-button__09f24__m9qRz css-1pxws0l']")
#         next_page.click()
        driver.execute_script("arguments[0].click();", next_page)
        time.sleep(3)
            
    except:
        break
        
print('How long does it take to scrape the whole webpage? {} seconds'.format(time.time() - start_time))

How long does it take to scrape the whole webpage? 766.9746551513672 seconds

In [24]:
data

[['Cuisine of Nepal', 'Bernal Heights', 648, 4.5],
 ['Dumpling Park', 'Inner Sunset', 139, 3.5],
 ['Marufuku Ramen', 'Lower Pacific Heights', 3615, 4.5],
 ['Farmhouse Kitchen Thai Cuisine', 'Mission', 3042, 4.0],
 ['Sotto Mare Oysteria & Seafood', 'North Beach/Telegraph Hill', 4234, 4.5],
 ['Burma Superstar', 'Inner Richmond', 7028, 4.0],
 ['Fog Harbor Fish House', "Fisherman's Wharf", 7144, 4.5],
 ['Daeho Kalbijjim & Beef Soup', 'Japantown', 1230, 4.5],
 ['California Fish Market Restaurant', 'North Beach/Telegraph Hill', 337, 4.5],
 ['Kokkari Estiatorio', 'Financial District', 4718, 4.5],
 ['Parada 22', 'The Haight', 1315, 4.0],
 ['Lokma', 'Outer Richmond', 441, 4.5],
 ['Besharam', 'Potrero Hill', 272, 3.5],
 ['Unfurl', 'Mission Bay', 22, 4.0],
 ['Cuisine of Nepal', 'Bernal Heights', 648, 4.5],
 ['Komaaj', 'Mission', 130, 5.0],
 ['a Mano', 'Hayes Valley', 1197, 4.0],
 ['Jaranita', 'Marina/Cow Hollow', 158, 4.5],
 ['Dumpling House', 'Castro', 273, 4.5],
 ['Starbelly', 'Castro', 1998, 4.0],
 ['Dumpling Home', 'Hayes Valley', 360, 4.5]]

In [15]:
len(data)

312

# Create Pandas Dataframe

In [16]:
df = pd.DataFrame(data, columns = ['Name', 'Location', 'ReviewCounts', 'StarsNumber'])

In [17]:
df

,Name,Location,ReviewCounts,StarsNumber
0,Cuisine of Nepal,Bernal Heights,648,4.5
1,Dumpling Park,Inner Sunset,139,3.5
2,Marufuku Ramen,Lower Pacific Heights,3615,4.5
3,Farmhouse Kitchen Thai Cuisine,Mission,3042,4.0
4,Vico Cavone,Castro,50,4.5
...,...,...,...,...
307,Lucky Pig,Tenderloin,219,4.0
308,Daeho Kalbijjim & Beef Soup,Ingleside Heights,69,4.0
309,IZUMIYA,Japantown,80,4.0
310,Ramenwell,Mission,241,4.5
311,Strada Pizza,Parkside,96,4.5

In [18]:
df.to_csv("San Francisco Restaurants Information.csv", index = False)

# Good Luck ^-^